* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
 
}
.grid-container .box {
  background-color: teal;
  padding: 20px 0;
}
.grid-container .box:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
.grid-container .box:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
}
.grid-container .box:nth-child(4) {
  grid-column: span 2;
}
.grid-container .box:nth-child(5) {
    grid-column: 2 / 5;
}
.grid-container .box:nth-child(6){
    grid-row: 3;
}
