*{
    margin: 0;
}
.body {
    background-image: url(./harry-potter-zodiac-signs.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 250px;
}
ul{
    color: greenyellow;
}
.nigar{
    background-color: green;
}